html,
body {
    max-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    max-width: 100%;
    justify-content: center;
}

/* @media (max-width: 1200px) {
    .wrapper {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        max-width: none;
    }
} */

.headcontainer {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    /* min-height: 40px; */
    padding: 1%;
}

.headcontainer h2 {
    align-self: center;
}

.x {
    border: 1px solid black;
    padding: 1%;
    /* width: fit-content; */
    background-color: antiquewhite;
}

.main-container {
    display: flex;
    flex: 1;
}

.section {
    display: flex;
    /* width: 85%; */
    flex-direction: column;
}

.content-container {
    display: flex;
    flex: 1;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 15%;
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 1%;
}

.text {
    display: flex;
    flex: 1;
    /* min-width: 90%; */
    background-color: aliceblue;
    border: 1px solid black;
}

.label {
    display: flex;
    background-color: lightgreen;
    border: 1px solid black;
    height: fit-content;
}

.right {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 1%;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.footcontainer {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    /* min-height: 40px; */
    padding: 1%;
}

.footcontainer h2 {
    align-self: center;
}